<header>
    <link rel="stylesheet" href="style.css" type="text/css"/>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand text-light" href="#"><img class="buto rounded-circle" width="60px" src="_pages/images/ico.png">&nbsp; WhatsOP</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav menu_texts">
                <li class="nav-item active">
                  <a class="navbar menu_texts" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="navbar menu_texts" href="#">Adicionar Número</a>
                </li>
                <li class="nav-item">
                  <a class="navbar menu_texts" href="#">Listar Número</a>
                </li>
            </ul>
          </div>
        </nav>
    </header>